<!DOCTYPE html>
 <head>
    <meta charset="utf-8" />
    <title>Ironbeers</title>
    <link rel="stylesheet reset" href= "/public/stylesheets/reset.css">
    <link rel="stylesheet" href= "/public/stylesheets/styles.css">
</head>
<body>
<nav>
    <ul>
        <li> <a href= '/'>Home</a></li>
        <li> <a href= '/beers' >Beers</a></li>
        <li> <a href= '/random-beer'>Random Beers</a></li>
    </ul>
</nav>

<main>
    {{{body}}}
</main>

<footer>
    <p>Developped by Jelle </p>
  </footer>
</body>
</html>